{% extends 'dashboard/base.html' %}
{% block content %}
<div class="container p-5">
    <div>
        <ul class="nav justify-content-end">
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="#">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'user-logout'%}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'user-register'%}">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'user-login'%}">Login</a>
            </li>
            {% endif %}
          </ul>
    </div>

    <legend class="text-center border-bottom pb-1">
        <strong>Users and Preferences</strong>
    </legend>

    {% if user.is_authenticated %}
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">Website</th>
                <th scope="col">Car</th>
              </tr>
            </thead>
            
            <tbody>
            {% for d in data %}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{d.first_name}}</td>
                <td>{{d.last_name}}</td>
                <td>{{d.email}}</td>
                <td>{{d.userprofile.website}}</td>
                <td>{{d.userprofile.car}}</td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
        
    {% else %}
    <div style="filter: blur(3px);">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Website</th>
            <th scope="col">Car</th>
          </tr>
        </thead>
        
        <tbody>
        {% for d in data %}
        <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{d.first_name}}</td>
            <td>{{d.last_name}}</td>
            <td>{{d.email}}</td>
            <td>{{d.userprofile.website}}</td>
            <td>{{d.userprofile.car}}</td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
      {% endif %}


</div>
{% if user.is_authenticated %}
<div class="container text-center">
    <a class="btn btn-lg btn-warning" href="{% url 'generate_pdf' %}">Download PDF</a>
</div>
{% else %}
<div class="alert alert-info text-center" role="alert">
    Please <a href="{% url 'user-login'%}">login</a> first to view or download this list.
</div>
{% endif %}
{% endblock content %}